In [25]:
#revision
def temp():
 a=float(input("no:"))
 heat=(a*9/5)+32
 return heat
print(temp())

no: 55.0

131.0

In [40]:
###oops concepts
class college:
    no_of_students=100
    no_of_courses=50
    no_of_prof=50
def msc():
    print("don nair")
def bsc():
    print("Got tc")

In [41]:
obj1=college()
print(obj1.no_of_courses)
no_of_prof=100
obj2=college()
print(obj2.no_of_prof)

50
50

In [37]:
class person:
    name=input(" my name :")
    age=int(input("my age :"))

 my name : nair
my age : 30

In [43]:
obj1=person()
print(obj1.name)
print(obj1.age)

nair
30

In [9]:
def rahul():
    subject=lambda x,y:x+y
    print(subject(10,20))

In [14]:
def rahul():
    subject = lambda x, y: x + y
    result = subject(10, 20)
    print(result)
    
    if result < 20:
        print("Even number")
    else:
        print("Odd number")

rahul()

30
Odd number

In [15]:
def rahul():
    sub = lambda a, b: a + b
    value = sub(10,30)
    print(value)

    if value > 20:
        print("even number")
    else:
        print("odd number")

rahul()

40
even number

In [3]:
class Student:
    def __init__(self):
        print("This is the constructor")
        self.name = "Rahul"

    def my_name(self):
        print(" my Name is:", self.name)


s1 = Student()


s1.my_name()

This is the constructor
 my Name is: Rahul

In [7]:
##__str__,__repr__
x='cravin','sanjay'
print(str(x))
print(str(3/9))

('cravin', 'sanjay')
0.3333333333333333

In [51]:
x=input("enter the name:")
print(repr(x))
print(str(9/3))

enter the name: cravin

'cravin'
3.0

In [19]:
##encapsulation
class car():
    def open_door_and_proceed(self):
        print("door opened.")
        print("enter the car and get started.")
        self._accerlate()
    def _accerlate(self):
        print("throttle increased")
        self.__engine_performing()
            
    def __engine_performing(self):
        print("good")
        
my_car = car()
my_car.open_door_and_proceed()

door opened.
enter the car and get started.
throttle increased
good

In [20]:
class boy:
    def behaviour_reaction(self):
        print("smiling.")
        print(" get started .")
        self._working()
    def _working(self):
        print("in laptop")
        self.__practicing_cricket()
            
    def __practicing_cricket(self):
        print("good")
        
my_boy = boy()
my_boy.behaviour_reaction()

smiling.
 get started .
in laptop
good

In [30]:
class cgv():
    def rahul_mamms(self):
        print("smiling.")
        self.__my_boy()
    def __my_boy(self):
        print("hello.")
my_cgv = cgv()
my_cgv.rahul_mamms()

smiling.
hello.

In [37]:
###poly and inheri
def add(a=6,b=8):
    return a+b
add()

14

In [41]:
def sub(a,b,c=0):
    return a-b*c
sub(45,10,89)

-845

In [44]:
###inheritance
class car():
    def wheels(self):
        return"four wheels"
class bike(car):
    def wheels(self):
        return"two tyres"
    def price(self):
        return"sufficient"
Vehicle=bike()
Vehicle.wheels()

'two tyres'

In [50]:
class msc():
    def room(self):
        print("four rooms")
class bsc(msc):
    def room(self):
        print("two rooms")
college=msc()
college.room()

four rooms

In [57]:
##__str__,repr__
x=input("enter the value:")
y=input("enter the value:")
print(str(x))
print(repr(x))

enter the value: 56
enter the value: cravin

56
'56'

In [ ]:
###practice questions
class shape():
    def circle(self):
        print("round")
        def square(self):
            print("box")

In [72]:
class car():
    brand=input("name:")
    model=int(input("year:"))

name: ciaz
year: 1998

In [74]:
obj1=car()
print(obj1.brand)

ciaz