In [8]:
##python aiml concepts

True

In [9]:
##datatypes (int/flaot/string/boolean)
a=int(10)
b=int(20)
print(a+b)

30

In [11]:
a=int(input("enter the name:"))
b=int(input("enter no:"))
print(a+b)

enter the name: 12
enter no: 45

57

In [13]:
a=str("cravin")
b=str("sanjay")
print(a+" "+b)

cravin sanjay

In [18]:
a=str("cravin")
b=12
c=0
print(bool(a))
print(bool(b))
print(bool(c))

True
True
False

In [24]:
a=float(input("enter the no:"))
b=float(input("enter the no:"))
print(a+b)

enter the no: 4.2
enter the no: 4.2

8.4

In [46]:
##set,list,dict,tuples
a=["cravin","sanjay","cravin"]
a.append("rahul")
print(a)
a.remove("sanjay")
print(a)
a={"cravin","sanajy"}
print(a)
dict={"a":"cravin","b":9}
print(dict["a"])
colours=("red","yellow","violet")
print(colours)

['cravin', 'sanjay', 'cravin', 'rahul']
['cravin', 'cravin', 'rahul']
{'cravin', 'sanajy'}
cravin
('red', 'yellow', 'violet')

In [ ]:
##control flow statement
if statement
elif statement
else statement
for loop (while/do while)
break statement
continue statement
pass statement

In [51]:
for i in range(1,100):
    print(i)
    if (i%2==0 and i%3!=0) or (i%3==0 and i%2!=0):
         print("even number")
    
    else:
        print("wrong number")

1
wrong number
2
even number
3
even number
4
even number
5
wrong number
6
wrong number
7
wrong number
8
even number
9
even number
10
even number
11
wrong number
12
wrong number
13
wrong number
14
even number
15
even number
16
even number
17
wrong number
18
wrong number
19
wrong number
20
even number
21
even number
22
even number
23
wrong number
24
wrong number
25
wrong number
26
even number
27
even number
28
even number
29
wrong number
30
wrong number
31
wrong number
32
even number
33
even number
34
even number
35
wrong number
36
wrong number
37
wrong number
38
even number
39
even number
40
even number
41
wrong number
42
wrong number
43
wrong number
44
even number
45
even number
46
even number
47
wrong number
48
wrong number
49
wrong number
50
even number
51
even number
52
even number
53
wrong number
54
wrong number
55
wrong number
56
even number
57
even number
58
even number
59
wrong number
60
wrong number
61
wrong number
62
even number
63
even number
64
even number
65
wrong number
66
wrong number
67
wrong number
68
even number
69
even number
70
even number
71
wrong number
72
wrong number
73
wrong number
74
even number
75
even number
76
even number
77
wrong number
78
wrong number
79
wrong number
80
even number
81
even number
82
even number
83
wrong number
84
wrong number
85
wrong number
86
even number
87
even number
88
even number
89
wrong number
90
wrong number
91
wrong number
92
even number
93
even number
94
even number
95
wrong number
96
wrong number
97
wrong number
98
even number
99
even number

In [58]:
for i in range(0,10):
    if i==8:
     break
print(i)

8

In [60]:
for i in range(0,10):
    if i == 5:
        break  
    print(i)

0
1
2
3
4

In [63]:
num=int(input("enter number:"))
for num in range(1,num):
    if num%3==0:
        break
print(num)

enter number: 2

1

In [66]:
num=int(input("enter number:"))
for num in range(2,num):
    if num%4==0:
        continue
        
print(num)

enter number: 40

39

In [67]:
##oops concepts
##class and objects
class animal():
    cravin=input("enter the name:")
    rahul=input("enter the name:")

enter the name: lion
enter the name: tiger

In [68]:
obj1=animal()
print(obj1.cravin)
print(obj1.rahul)

lion
tiger

In [74]:
##encapsulation
#public
#private
#protected

class school():
    def degree(self):
        print("welcome")
        print("warm welcome")
        self._msc()

    def _msc(self):
        print("bye bye")
        self.__bsc()

    def __bsc(self):
        print("graduated")
rahul=school()
rahul.degree()

welcome
warm welcome
bye bye
graduated

In [85]:
class vehicle():
    def brand(self):
        model=input("model:")
        year=int(input("year:"))

class car(vehicle):
    def functions_of_a_car(self):
        print("the car engine is start")
        print("the car is luxury")

vehicle()

In [94]:
Car=car()
Car.brand()

model: ghj
year: 54

In [97]:
##inheritance
class clg():
    def arts(self):
        ug=input("enter name:")
        pg=input("enter name:")
class scl(clg):
    def science(self):
        ten=input("enter name:")
        twelve=input("enter name:")
        print("april fool")
scl()

In [99]:
stud=scl()
stud.science()

enter name: cravin
enter name: rahul

april fool

In [4]:
##modules and packages
import math as m
print(m.sqrt(25))
print(m.pi)
print(m.tan(25))
print(m.tan(45))
print(m.ceil(25.1))
print(m.floor(25.3))
print(m.fabs(-25))
print(m.pow(9,3))

5.0
3.141592653589793
-0.13352640702153587
1.6197751905438615
26
25
25.0
729.0

In [17]:
import random
colours=['red','orange','blue']
x=[10,20,30,5]
print(random.choice(colours))
print(random.randint(1,10))
print(random.shuffle(x))
print(x)

blue
1
None
[5, 20, 30, 10]

In [23]:
##Exception handling
try:
    a=int(input("enter number:"))
    b=int(input("enter number:"))
    print(a/b)
except ValueError as e:
    print("ValueError",e)
except ZeroDivision as e:
    print("ZeroDivision",e)
except Exception as e:
    print("Exception",e)
finally:
    print("iam done")

enter number: cravin

ValueError invalid literal for int() with base 10: 'cravin'
iam done

In [ ]:
##File handling
import os