In [7]:
a = 0
print(bool(a))

False

In [20]:
a = input("What is your name:")
print("my name is ",a)

What is your name: cravin

my name is  cravin

In [27]:
###conversion and casting
a = 5.2
print(type(a))
b = 4
print(type(b))
c = 6
print(type(c))
d=a-b+c
print(type(d),d)

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'> 7.2

In [34]:
#if else statement
num=int(input("enter the num:"))
if num > 0:
    print("positive number")
elif num < 0:
     print("negative number")
else:
    print("zero")

enter the num: 6

positive number

In [37]:
### if else statement
mark=int(input("enter the mark:"))
if mark >=90:
    print("A grade")
elif mark >=80:
    print("b grade")
elif mark >=70:
    print("c grade")
elif mark >=60:
    print("d grade")
else:
    print("E grade")

enter the mark: 78

c grade

In [44]:
num=int(input("enter the num:"))
if num%2==0:
    print("even")
if num%5==0:
    print("div by 5")
else :
    print("odd")

enter the num: 20

even
div by 5

In [57]:
num=int(input("enter the num:"))
if num%2==0 and  num%5!=0 :
    print("odd")
if num%3==0 :
   print("even")
else:
   print("no num")

enter the num: 45

even

In [24]:
###looping statement
### for loop
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [27]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [1]:
for i in range(0,21,3):
    print("hello")

hello
hello
hello
hello
hello
hello
hello

In [2]:
i=0
while i<50:
    i=i+2
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
a=[10,20,30,40,50]
for i in reverse(a):
    print(i)

In [3]:
a = [1 2 3 4]

for i in reversed(a):
    print(i)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3653889240.py, line 1)

In [12]:
# Using break statement
for i in range(0,20):
    if i == 10:
        break  
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
#continue statement
for i in range(10):
    if i == 6:
        continue  
    print(i)

0
1
2
3
4
5
7
8
9

In [9]:
for i in range(6):
    if i == 3:
        break  
    print(i)

0
1
2

In [13]:
#pass statement
for i in range(10):
    if i == 6:
        pass 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(0,10):
    if i % 7 == 0:
        break 
    print(i)

In [26]:
for i in range(10):
    if i   == 7:
        break 
    print(i)

0
1
2
3
4
5
6

In [27]:
for i in range(11):
    if i   == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10

In [29]:
for i in range(11):
    if i   == ("odd"):
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [33]:
#list
a=["apple","banana",5]
a.append("orange")
a.remove(5)
print(a)

['apple', 'banana', 'orange']

In [35]:
for i in range(20):
    if (i%3==0 and i%5==0) or i%2!=0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18

In [40]:
#tuples
a=["cravin",45,"rahul",96]
b=(45,98,"hari")
print("cravin")

cravin

In [47]:
#dict
a={("cravin"):56,("rahul"):67}
print(a[("cravin")])

56

In [52]:
#sets operations
a={30,34,35}
b={35,37,36}
print("union:",a|b)
print("intersect:",a&b)
print("sub:",b-a)

union: {34, 35, 36, 37, 30}
intersect: {35}
sub: {36, 37}

In [54]:
#min ,len,max,sort
a=[2,4,8,5,1,9]
length=len(a)
print(length)
numbers=min(a)
print(numbers)
mark=max(a)
print(mark)
sorting=sorted(a)
print(sorting)

6
1
9
[1, 2, 4, 5, 8, 9]